.container {
  background-color: #242529;
  padding-bottom: 55px;

	.content {
		margin: 0 72px;

		.section {
			margin-top: 84px;
			display: flex;
			.child {
				&:first-of-type {
					flex: 1 917px;
				}

				& > p {
					color: white;
					font-family: var(--font-family-roboto-regular);
					font-size: 27px;
					padding-bottom: 54px;
				}

				& > p.whitePaper {
					padding-bottom: 36px;
				}

				& > div.height {
					min-height: 285px;
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}